footer {
  background: black;
  color: white;

  padding: 1em;

  .nav {
    list-style-type: none;
    padding:0;

    li {
      line-height: 1.25rem;
    }
  }
  a {
    text-decoration: none;
  }
}

@media all and (min-width: @bpSmall) {

}
